.jumbotron{
    background: url("https://c0.wallpaperflare.com/preview/674/919/828/rice-rice-seeds-agriculture-harvesting.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    
    
}


.jumbotron .card{

    opacity: 0.8;
}